@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-transform: capitalize;
  overflow-x: hidden;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.nextSlide {
  transform: translateX(100%);
}
.lastSlide {
  transform: translateX(-100%);
}

.text-balance {
  text-wrap: balance;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-midnight text-white text-sm lg:text-2xl font-bold rounded-lg shadow-md transition-all duration-300 hover:bg-amber hover:text-midnight focus:outline-none focus:ring;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .section {
    @apply w-full min-h-[80vh] capitalize flex flex-col items-center justify-center;
  }
  .container {
    @apply w-[95%] max-w-[1420px];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
